<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>推广会签到页</title>
  <link rel="stylesheet" href="../css/wall.css">
</head>
<body>
<div class="wrapbg">
  <div class="wrapper">
    <div class="header">
      <h2>
        微信大屏幕-签到
      </h2>
      <div class="num-t left">
        <p><em class="messageTotal" id="messageTotal">0</em><span>人签到</span></p>
      </div>
    </div>
    <div class="fl-layer checkin-pop">
      <ul class="heads-list clearfix">

      </ul>
    </div>
    <div>
      <div id="view-fullscreen" title="全屏"></div>
    </div>
  </div>
</div>
<script src="http://cdn.bootcss.com/jquery/2.2.3/jquery.js"></script>
<script src="../js/wall.js"></script>
<script>
  var test = SingletonTester.getInstance();
</script>
</body>
</html>